.footer
{
    background-color: transparent;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    width: 100vw;
}
.column{
    flex-direction: column;
    height: fit-content;
    text-align: center;
}