.mainContainer{
    padding: 1rem 7rem;
    width: 100vw;
    height: calc(100vh - 150px);
}

h1{
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    margin: 3rem;
}

h1 span{
    font-weight: 700;
}
.searchContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem;
}
